body {
    max-width: 1000px; min-width: 0; margin: auto; margin-top: 75px;
    background-color: rgb(10, 12, 20);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans- serif;
    color: rgb(219, 219, 219);
}

header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    backdrop-filter: blur(5px);
;
}

header img {
    min-width: 75px; min-height: 75px;
    max-width: 75px; max-height: 75px;
}

header div {
    display: flex;
    flex-direction: row;
}

header a {
    margin: auto 10px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 300ms ease-in-out;
    padding: 7px;
    border-radius: 10px;
}

header a:hover {
    /* color: rgb(10, 12, 20); */
    padding: 2px;
    background-color: #2B3355;
    border: 5px solid #2B3355;
}

/*                                          */

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.introDiv {
    padding: 15px;
    margin: 15px;
    background-color: #111421;
    box-shadow: inset 0px 0px 10px rgb(10, 12, 20);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.introDiv h1 {
    font-size: 50px;
    background: linear-gradient(0deg,rgba(135, 42, 185, 1) 0%, rgba(0, 47, 255, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    transition: 400ms ease-in-out;
}
.introDiv h1:hover {
    transform: scale(1.02);
}
.introDiv p {margin: 0; font-size: 20px;}





#algeria {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Flag_of_Algeria.svg/800px-Flag_of_Algeria.svg.png");
    background-size: contain;
    background-position: 0px 1px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    transition: 300ms ease-in-out;
}

/*                                          */
#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px; /* spacing between items */
    justify-items: center; /* center projects inside their grid cell */
}

.project {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    width: 315px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 15px;
    background-color: #111421;
    box-shadow: inset 0px 0px 10px rgb(10, 12, 20);
    border-radius: 10px;
    text-align: center;
}

.projectInfo {
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pInfo2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.pInfo2 a {
    text-align: center;
    background-color: #2B3355;
    border: 5px solid #2B3355;
    color: white;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms ease-in-out;
    border-radius: 10px;
    width: 95px;
    margin: 15px 0px;
}

.pInfo2 a:hover {
    transform: scale(1.15);
    background-color: #2B3355;
    border: 5px solid #2B3355;
}


.projectTitle {
    font-size: 30px;
    background: linear-gradient(0deg,rgba(135, 42, 185, 1) 0%, rgba(0, 47, 255, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    transition: 300ms ease-in-out;
    margin: 0 -5px;
}
.projectTitle:hover {
    transform: scale(1.2);
}

.projectDesc {
    font-size: 15px;
    margin: 0;
}
.projectTech {
    font-size: 15px;
    padding-top: 15px;
    margin-bottom: 5px;
}

.projectIcon {
    width: 100px;
    height: 100px;
    border: 3px solid purple;
    border-radius: 15px;
}




/*                                          */

footer {
    margin-top: 300px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-weight: 500;
    font-size: medium;
    margin-bottom: 40px;
}

footer div {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer a {
    transition: 300ms ease-in-out;
}

footer a:hover {
    transform: scale(1.3);
}
