@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;800&display=swap');

body {
    background: -webkit-linear-gradient(0deg, rgb(0, 100, 150), rgb(0, 0, 50));
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: relative;
}

.topbar {
    padding: 15px;
    font-family: "Inter", sans-serif;
    font-size: 20;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    backdrop-filter: blur(10px);
    list-style: none;
}

.socials {
    font-family: "Inter", sans-serif;
    font-size: 20;
    display: flex;
    justify-content: space-evenly;
}

.topbar a {
    padding-left: 25px;
    padding-right: 25px;
    color: purple;
    text-decoration: none;
    transition: all 500ms ease;
}

.topbar img {
    width: 60px;
    height: 60px;
    transition: all 500ms ease;
}

.socials img:hover {
    transform: scale(1.25);
}

#logo {
    width: 250px;
    margin: auto;
}

.profile {
    text-align: center;
    padding-top: 25px;
    color: rgb(0, 255, 100);
    display: flex;
    flex-direction: column;
    font-size: large;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

.profile h4 {font-weight: 900;}

#guesttoxprofilespan {
    width: min-content; height: min-content;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    background: -webkit-linear-gradient(0deg, rgb(0, 255, 255), rgb(0, 0, 250));
    background-size: 200% auto;
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: right center;
    box-sizing: border-box;
    transition: all 500ms ease;
}

#guesttoxprofilespan:hover {
    background-position: left center;
    transform: scale(1.25);
}

#algeriaspan {
    background: url("https://upload.wikimedia.org/wikipedia/commons/7/77/Flag_of_Algeria.svg");
    background-size: 150%;
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: center center;
    text-decoration: none;
}

.profile a {text-decoration: none;}

.torso {display: flex; flex-direction: column;}

.langs {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.langs {border: 2.5px solid black; border-radius: 15px; margin: auto;}

.langs img {
    padding: 15px;
    width: 50px;
    height: 50px;
    transition: all 500ms ease;
}

.langs img:hover {
    transform: scale(1.3);
}

.lang-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.lang-wrapper h4 {
    font-size: x-large;
    font-weight: 750;
    background: -webkit-linear-gradient(0deg, rgb(0, 255, 255), rgb(0, 0, 250));
    background-size: 200% auto;
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: right center;
}

.lang-wrapper h4:hover {
    transform: scale(1.2);
    background-position: left center;
    transition: all 500ms ease;
}

.project-wrapper {
    margin: auto;
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.project {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 25px;
    text-align: left;
    color: white;
    font-family: "Inter", sans-serif;
    background-color: rgb(0, 50, 150);
    border: 1px solid black;
    border-radius: 15px;
}

.project-title a {
    color: rgb(255, 100, 0);
    font-size: 30px;
    text-decoration: none;
    font-weight: 900;
    transition: all 500ms;
}

.project-title:hover a {
    color: rgb(0, 200, 255);
    font-size: 30px;
    text-decoration: underline;
    font-weight: 900;
}

.project-title {
    margin-bottom: 15px;
}

.bottombar {
    background-color: rgb(0, 0, 50);
    margin-top: 200px;
    padding: 5px;
    text-align: center;
    font-size: 10px;
    position: relative;
    bottom: 0; right: 0; left: 0;
}

.project-description {
    color: rgb(0, 200, 0);
    transition: all 500ms ease;
}

.project-description:hover {
    color: rgb(0, 255, 0);
}

.project-language-name {
    color: aqua;
    transition: all 500ms ease;
}

.project-language-name:hover {
    color: blueviolet;
}

#project-desc {color:white; text-decoration: none; transition: all 500ms ease;}
#project-desc:hover {color: rebeccapurple; text-decoration: none; transition: all 500ms ease;}